name: Test

on:
  pull_request:
  push:
    branches: [main]
    tags: [v*]

jobs:
  test:
    strategy:
      matrix:
        os: [windows-2022, macos-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    env:
      AUTOBUILD_CONFIGURATION: default
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        with:
          checkout: false
